<h1><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Songs</h3>
<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.track %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no songs belong to this artist. </p>
<% end %>
