<h4>Add new song here</h4>
<form>
  <input type="hidden" name="artistId" value="<%= @artist.id %>">
<label>Track</label>
    <input class="form-control" name="track" placeholder="Track name"><br>
<label>Lyrics</label>
    <input class="form-control" name="lyrics" placeholder="Put lyrics here"><br><br>
<label>Album</label>
    <input class="form-control" name="album" placeholder="Album name"><br>
<br>
<br>

<button type="submit" class="newSong">Add this song now</button>
</form>
<script></script>
