<h4>Add new song here</h4>
<%= form_for [@artist, @artist.songs.new] do |f| %>
<label>Track</label>
    <input class="form-control" name="track" placeholder="Track name"><br>
<label>Lyrics</label>
    <input class="form-control" name="lyrics" placeholder="Put lyrics here"><br><br>
<label>Album</label>
    <input class="form-control" name="album" placeholder="Album name"><br>
<br>
<br>

<label class="newSong">Add this song now</label>

<% end %>
